<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="utilities.ExtentListenerClass"/>
</listeners>
  <test  name="Test">
    <classes>
      <class name="testcases.LoginTests"/>
      <class name="testcases.DashboardTests"/>
      <class name="testcases.ProjectTests"/>
      <class name="testcases.TaskTests"/>
      <class name="testcases.MaterialTests"/>
      <class name="testcases.EngineerTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
